{{ 'section-main-product-custom.css' | asset_url | stylesheet_tag }}

<!-- JSON Data -->
<script type="application/json" id="product-data">
    {{ product | json }}
</script>
<script src="{{ 'product-info-custom.js' | asset_url }}" defer="defer"></script>

<!-- Sections/product-details.liquid -->
<section id="product-details" class="product-details-section">
    <div class="container-desktop">
        <div class="row">
            <div class="col-6">
                <div class="product-gallery row">
                    <div class="media-gallery col-12"></div>
                </div>
                <div class="row">
                    <div class="secondary-gallery"></div>
                </div>
            </div>    

            <div class="col-6">
                <div class="product-section">
                    <p class="product-vendor"></p>
                    <h1 class="product-title"></h1>
                    <p class="product-price"></p>
            
                <!-- Dynamische optieknoppen worden hier gegenereerd -->
                <div class="options-container"></div>

                <div class="product-description"></div>
            
                <div class="buy-button">
                <!-- Aankoopknop -->
                    <form method="post" action="/cart/add">
                    <input type="hidden" name="id" id="selected-variant-id" />
                    <button type="submit" class="buy-button">{{ section.settings.buy_button_text }}</button>
                    </form>
                </div>
                </div>
            </div>
        </div>    
    </div>
</section>
  
  <!-- Schema voor de Shopify Theme Editor -->
{% schema %}
{
  "name": "Product Media Gallery",
  "settings": [
    {
      "type": "text",
      "id": "buy_button_text",
      "label": "Buy Button Text",
      "default": "Voeg toe aan winkelwagen"
    }
  ],
  "presets": [
    {
      "name": "Product Media Gallery"
    }
  ]
}
{% endschema %}