{{ 'section-about-us.css' | asset_url | stylesheet_tag }}

<section class="about-us container-desktop col-12 section-padding">
    <div class="col-4">
     </div>
    <div class="col-4">
    </div>
    <div class="col-4">
    </div>
</section>