{{ 'about-us.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "About Us Grid",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Titel",
      "default": "Onze dynamische grid"
    },
    {
      "type": "number",
      "id": "columns_per_row",
      "label": "Kolommen per rij",
      "default": 3
    }
  ],
  "blocks": [
    {
      "type": "grid_item",
      "name": "Grid Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Titel"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Inhoud"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Afbeelding"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About Us"
    }
  ]
}
{% endschema %}

<div class="container-desktop my-4">
  <h2 class="text-about mb-4">{{ section.settings.section_title }}</h2>
  <div class="row">
    {% for block in section.blocks %}
      <div class="col-md-{{ 12 | divided_by: section.settings.columns_per_row }} mb-4 text-column-about">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ block.settings.title }}</h5>
            <p class="card-text">{{ block.settings.content }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
