.about-us h1 {
    margin-bottom: 20px;
}

.dynamic-copy {
    text-align: justify;
    margin-bottom: 15px;
}

.text-about {
    text-align: left;
}

@media (max-width: 991px) {
.text-about {
    font-size: 2rem !important;
}

.h2 {
    font-size: 2rem !important;
}
}

.text-column-about {
    padding: 0px;
}

.about-us-button {
    margin-top: 25px;
}

.about-us-section {
    padding-top: 15rem;
    padding-bottom: 15rem;
}

.card-text {
    font-size: 1.4rem;
}

.no-background {
    background: none !important;
}

@media (prefers-color-scheme: dark) {
.card-text {
    color: lightgrey;
}
}