.about-us h1 {
    margin-bottom: 20px;
}

.dynamic-copy {
    text-align: justify;
    margin-bottom: 15px;
}

.text-about {
    font-weight: 700;
    text-align: left;
}

.text-column-about {
    padding: 0px;
}

.about-us-button {
    margin-top: 25px;
}

.about-us-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}