.title-brands {
  padding-bottom: 2rem;
}

.logo-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
  height: 200px;
}

.logo-grid-item {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Overlay via pseudo-element */
.logo-grid-item::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 1; /* overlay boven de achtergrond */
}

/* De link en het logo omhoog halen in de stacking order */
.logo-grid-link {
  position: relative;
  z-index: 2; /* Deze staat nu boven de overlay */
}

.logo-container {
  position: relative;
  z-index: 3; /* Logo nog hoger indien nodig */
}

.logo-container img {
  max-width: 80%;
  height: auto;
}
