.collection-title h1{
  font-size: 1rem;
}

.collection-hero__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  border-bottom: 1px solid rgb(242, 242, 242);
  padding: 2rem 0rem;
}

.breadcrumbs {
  text-align: left;
  color: black;
}

.breadcrumbs__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs__item {
  display: inline-flex;
  align-items: center;
}

.breadcrumbs__item:not(:last-child):after {
  content: "/";
  margin: 0 0.5rem;
  color: black;
}

.breadcrumbs__link {
  color: black;
  text-decoration: none;
}

.breadcrumbs__link:hover {
  text-decoration: underline;
}

.collection-title {
  text-align: center;
}

.product-count {
  text-align: right;
  color: grey;
}

@media screen and (max-width: 749px) {
  .collection-hero__inner {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  
  .breadcrumbs,
  .collection-title,
  .product-count {
    text-align: center;
  }
  
  .breadcrumbs__list {
    justify-content: center;
  }
}