.price {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  color: rgb(var(--color-foreground));
}

.price > * {
  display: inline-block;
  vertical-align: top;
}

.price.price--unavailable { 
  visibility: hidden;
}

.price--end {
  text-align: right;
}

.price-current {
  font-weight: 600;
  font-size: 1.2rem;
  color: rgb(var(--color-primary));
  font-family: TradeGothicLT, sans-serif;
}

.price--on-sale .price-current {
  font-weight: 800 !important;
  font-size: 1.5rem !important;
  color: red;
  font-family: TradeGothicLT, sans-serif;
}

.price--on-sale .price-regular {
  font-weight: 300 !important;
  font-size: 1.1rem !important;
  color: rgb(97, 97, 97);
  font-family: TradeGothicLT, sans-serif;
}

.price--on-sale .price-discount {
  font-weight: 800 !important;
  font-size: 1.5rem !important;
  color: rgb(97, 97, 97);
  font-family: TradeGothicLT, sans-serif;
}
