.collection-hero {
  padding: 20px 0;
}

.collection-hero__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.breadcrumbs {
  text-align: left;
}

.collection-title {
  text-align: center;
}

.product-count {
  text-align: right;
}

@media screen and (max-width: 749px) {
  .collection-hero__inner {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  
  .breadcrumbs,
  .collection-title,
  .product-count {
    text-align: center;
  }
}