.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Pas min-width naar wens aan */
    gap: 1rem; /* ruimte tussen items, vervangt g-4 bijvoorbeeld */
}

@media screen and (max-width: 991px) {
.product-grid {
    grid-template-columns: repeat(2, 1fr); /* Pas min-width naar wens aan */
}
}
