.featured-product-custom {
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
  }
  
  .featured-product__wrapper {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center; /* Vertically centers the content */
  }
  
  .featured-product__content {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers the elements within the content */
  }
  
  .featured-product__description {
    font-size: 1.4rem;
    margin: 35px 0px;
  }

  @media (prefers-color-scheme: dark) {
    .featured-product__description {
      color: lightgrey;
    }
  }
  
  .featured-product__image-wrapper {
    width: 66.67%;
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically within the column */
  }
  
  .featured-product__image {
    width: 100%; /* Sets the image to 60% of its container width */
    height: auto;
    object-fit: cover;
  }
  
  .featured-product-text {
    position: relative;
  }

  .featured-product-list {
    flex-wrap: nowrap !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 991px) {

    .text-container-product {
      order: 2;
      padding-top: 2rem;
      padding-left: 0px;
      padding-right: 0px;
    }

    .image-container {
      order: 1;
    }

    .featured-product__title {
      text-align: left;
    }

    .featured-product__description {
      text-align: left;
    }

  }

  @media (min-width: 769px) {

    .text-container-product {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
  }

  @media (max-width: 991px) {
    .featured-product__title {
      font-size: 1.5rem;
    }

    .featured-product-list {
      flex-wrap: wrap !important;
      grid-template-columns: repeat(1, 1fr);
    }

  }