.product-slider-desktop {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1rem;
    gap: 1rem;
    height: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 100%;
}