.featured-product-custom {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
  }
  
  .featured-product__wrapper {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center; /* Vertically centers the content */
    margin: 50px;
  }
  
  .featured-product__content {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers the elements within the content */
  }
  
  .featured-product__title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .featured-product__description {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .featured-product__button {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
  }
  
  
  .featured-product__image-wrapper {
    width: 66.67%;
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically within the column */
  }
  
  .featured-product__image {
    width: 60%; /* Sets the image to 60% of its container width */
    height: auto;
    object-fit: cover;
  }
  