.section-header {
  text-align: center;
}

.featured-collection-header {
  padding-bottom: 2rem;
}

.section-title {
  text-align: left;
}

.section-subtitle {
  text-align: left;
}

.cta-link {
  text-align: left;
  text-transform: uppercase;
  color: #000; 
}

.cta-link a:hover {
  text-decoration: underline;
  color: #000; 
}

.grid-categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.collection-info {
  text-align: left;
}

.grid-item {
  text-align: center;
}

.collection-image {
  max-width: 100%;
  display: block;
  margin: 0 auto 20px;
}

.collection-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: left;
}

.btn-cta {
  display: inline-block;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  text-decoration: none;
}

.no-image-placeholder {
  width: 100%;
  height: 200px;
  background: #eee;
  margin-bottom: 20px;
}