.featured-banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  margin-top: 10rem;
}

.featured-banner__content {
  position: relative;
  width: 100%;
  height: 100%;
}

.featured-banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  transform: scale(1.1);
}

.featured-banner__image--mobile {
  display: none; /* Standaard verborgen op desktop */
}

.featured-banner__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 15%;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
}

.featured-banner__link {
  display: block;
  text-decoration: none;
}

.featured-banner.animate .featured-banner__image {
  opacity: 1;
  transform: scale(1);
}

.featured-banner:hover .featured-banner__image {
  transform: scale(1.05); /* Subtiel zoom-effect bij hover */
}

.featured-banner__quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
  text-align: center;
  color: black;
  font-size: 2.5rem;
  font-family: TradeGothicLT;
  font-weight: 800;
}

@media (max-width: 576px) {
  .featured-banner {
    height: auto !important; /* Laat de hoogte automatisch aanpassen */
  }

  @media (min-width: 577px) and (max-width: 749px) {
    .featured-banner {
      height: auto !important; /* Laat de hoogte automatisch aanpassen */
      aspect-ratio: 16 / 9; /* Verhoudingen voor mobiel */
    }
  }

  .featured-banner__image--desktop {
    display: none; /* Verberg desktop-afbeelding op mobiel */
  }

  .featured-banner__image--mobile {
    display: block; /* Toon mobiele afbeelding */
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .featured-banner__logo {
    max-width: 25%; /* Verklein logo voor mobiel */
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
