.featured-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .featured-banner__content {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .featured-banner__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    transform: scale(1.1);
  }
  
  .featured-banner__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 150px;
    z-index: 2;
  }
  
  .featured-banner.animate .featured-banner__image {
    opacity: 1;
    transform: scale(1);
  }
  
  .featured-banner__link {
    display: block;
    text-decoration: none;
  }
  