.featured-sales-banner {
    position: relative;
    text-align: center;
    color: white;
    padding: 50px 20px;
    background-size: cover;
    background-position: center;
  }
  
  .featured-sales-banner__content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .featured-sales-banner__subheader {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .featured-sales-banner__title {
    font-size: 36px;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .featured-sales-banner__description {
    font-size: 16px;
    margin: 20px 0;
  }
  
  .featured-sales-banner__button {
    background-color: transparent;
    border: 2px solid;
    color: black;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'TradeGothicLT', sans-serif;
  }
  
  .featured-sales-banner__button:hover {
    color: white;
    background-color: black;
  }

  