    .index-page {
        position: absolute; /* Header blijft in de normale flow */
        width: 100%;
        background-color: transparent; /* Semi-transparante achtergrond */
        color: white; /* Tekstkleur */
    }

    @media only screen and (max-width: 991px) {
        .index-page {
            position: unset;
        }
    }

    .index-page .navbar-nav .nav-link  {
        color: white
    }

    .sticky {
    position: -webkit-sticky; /* Voor Safari */
    position: sticky;
    top: 0; /* Plakt aan de bovenkant van het scherm */
    z-index: 1000; /* Zorgt ervoor dat het boven andere elementen blijft */
    background-color: var(--background-color-light-mode);
    }

     .sticky.scroll-up {
    background-color: var(--background-color-light-mode) !important;
    }

    .index-page.scroll-up .navbar-nav .nav-link  {
        color: black
    }

    @media (prefers-color-scheme: dark) {
    .index-page.scroll-up .navbar-nav .nav-link  {
        color: white
    }
    }

    .index-page.scroll-up {
        background-color: var(--background-color-light-mode) !important;
    }

    @media (prefers-color-scheme: dark) {
    .sticky {
        background-color: var(--background-color-dark-mode);
    }

    .sticky.scroll-up {
        background-color: var(--background-color-dark-mode) !important;
    }
    
    .index-page.scroll-up {
        background-color: var(--background-color-dark-mode) !important;
    }
    }

    .new-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Drie kolommen met gelijke breedte */
    gap: minmax(20px, 1fr); /* Dynamische gap die groter wordt bij minder ruimte */
    align-items: stretch; /* Zorg ervoor dat content bovenin blijft aligneren */
    justify-content: space-between; /* Verdeelt de ruimte gelijkmatig */
    width: 100%; /* Neemt de volledige breedte van de parent div */
    height: 100%; /* Optioneel: als de hoogte ook 100% moet zijn */
    box-sizing: border-box; /* Zorgt ervoor dat padding niet buiten de container uitsteekt */
    padding: 0.5rem 0rem;
    } 

    .logo {
    display: block !important;
    background-image: var(--logo-light); /* Standaard light logo */
    width: 150px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center; /* Centers the image */
    background-size: contain; /* Ensures the image covers the element */
    }

    @media (min-width: 768px) {
    .index-page .logo {
        display: block !important;
        background-image: var(--logo-dark); /* Standaard light logo */
        width: 150px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center; /* Centers the image */
        background-size: contain; /* Ensures the image covers the element */
        }
    }

    .index-page .logo .transparent {
        display: block !important;
        background-image: var(--logo-dark); /* Standaard light logo */
        width: 150px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center; /* Centers the image */
        background-size: contain; /* Ensures the image covers the element */
        }   
        
    .sticky .scroll-up .logo {
        display: block !important;
        background-image: var(--logo-light); /* Standaard light logo */
        width: 150px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center; /* Centers the image */
        background-size: contain; /* Ensures the image covers the element */
     }  

     @media (prefers-color-scheme: dark) {
     .sticky .scroll-up .logo {
        display: block !important;
        background-image: var(--logo-dark); /* Standaard light logo */
        width: 150px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center; /* Centers the image */
        background-size: contain; /* Ensures the image covers the element */
     } 
    }

    li.search {
        color: black;
     }

     .search-text {
        font-size: 1.2rem;
        font-weight: 600;
     }

     .hover-red:hover {
        color: red;
     }

     @media (prefers-color-scheme: dark) {
        li.search {
            color: white;
         }
        }
     
     .index-page li.search {
        color: white;
     }

     .index-page.scroll-up li.search {
        color: black;
     }

     @media (prefers-color-scheme: dark) {
        .index-page.scroll-up li.search {
            color: white;
         }
     }

     .index-page .cart .transparent {
        color: white;
     }

     .index-page.scroll-up .cart .transparent {
        color: black;
     }

     @media (prefers-color-scheme: dark) {
        .index-page.scroll-up .cart .transparent {
            color: white;
         }
     }
    
    @media (prefers-color-scheme: dark) {
        .logo {
            background-image: var(--logo-dark);
        }
    }

    .col-menu {
    text-align: center;
    justify-content: center; /* Horizontaal centreren */
    align-items: center; /* Verticaal centreren */
    display: flex;
    flex: 1; /* Laat kolommen groeien als dat nodig is */
    text-align: center; /* Optioneel, om tekst te centreren */
}

.col-align-left {
    justify-content: left;
}

.col-align-right {
    justify-content: right;
}

.col-menu img {
    max-height: 100%; /* Zorg ervoor dat logo's niet uitrekken */
    object-fit: contain; /* Houd proporties van afbeeldingen */
  }

.navbar {
    padding: 0.5rem 0px;
}

.navbar-nav .nav-link {
    text-transform: uppercase;
    font-family: TradeGothicLT;
    color: var(--font-color-light-mode);
    font-size: 1.2rem;
}

.navbar-nav .nav-link:hover {
    color: red;
}

@media (prefers-color-scheme: dark) {
    .navbar-nav .nav-link {
        color: var(--font-color-dark-mode);
    }
}

.text-second-menu {
    text-align: right !important;
    text-transform: uppercase;
    font-family: TradeGothicLT;
    color: var(--font-color-light-mode);
    font-size: 1.5rem;
}

@media (prefers-color-scheme: dark) {
    .text-second-menu {
        color: var(--font-color-dark-mode);
        gap: 1rem;
    }
}

.cart-link {
    color: var(--font-color-light-mode);
    font-size: 1.2rem;
    font-weight: 600;
}

@media (prefers-color-scheme: dark) {
    .cart-link {
        color: var(--font-color-dark-mode);
    }
}

.index-page .cart-link {
    color: white
}

.index-page.scroll-up .cart-link {
    color: var(--font-color-light-mode);
}

@media (prefers-color-scheme: dark) {
    .index-page.scroll-up .cart-link {
        color: var(--font-color-dark-mode);
    }
}

.svg-mobile {
    display: none;
}

@media only screen and (max-width: 749px) {
    .svg-mobile {
        display: none;
    }
}

.header__icon-close {
    display: none;
}

.first-menu {
    gap: 3rem;
}

.list-collections-page {
    color: var(--font-color-light-mode)
}

@media (prefers-color-scheme: dark) {
    .list-collections-page {
        color: var(--font-color-dark-mode)
    }
}

/* Hamburger Menu */

.icon-hamburger {
    width: 20px;
    color: black;
}

.icon-cart {
    width: 20px !important;
    color: black !important;
}

.icon-search {
    width: 20px;
    color: black;
}

.icon-cart-empty {
    width: 20px;
    color: black;
}

.search-cart {
        margin-bottom: 0rem;
        display: flex;
}

@media (prefers-color-scheme: dark) {
    .icon-hamburger {
        width: 25px;
        color: white;
    }
      
    .icon-cart {
        color: white;
    }
    
    .icon-search {
        color: white;
    }

    .icon-cart-empty {
        color: white;
    }    
}

.hamburger-menu {
    all: unset;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Mobile menu */
/* Verborgen menu-overlay standaard */
.mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-light-mode); /* Donkere overlay */
    z-index: 9999; /* Zorg dat het menu bovenop alles staat */
    display: none; /* Verborgen standaard */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: column;
    overflow: hidden; /* Zorgt dat niets buiten het menu zichtbaar is */
  }

  @media (prefers-color-scheme: dark) {
  .mobile-menu-overlay {
    background-color: var(--background-color-dark-mode); /* Donkere overlay */
  }
}

  /* Toon de overlay */
  .mobile-menu-overlay.show {
    position: static;
    display: block;
    height: 100vh;
    padding-left: 0px;
    padding-right: 0px;
    width: auto;
  }
  
  /* Menu-items stijl */
  .mobile-menu {
    list-style: none;
    margin: 0;
    text-align: center;
    flex-direction: column;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }

  ul.mobile-menu {
    gap: unset !important;
  }
  
  .mobile-menu .nav-item:not(:last-child) {
    padding: 10px 0;
    font-size: 2rem;
    font-family: TradeGothicLT;
    text-transform: uppercase;
    border-bottom: 1px solid lightgrey;
    text-align: left;
  }

  .mobile-menu .nav-item:last-child {
    padding: 10px 0;
    font-size: 2rem;
    font-family: TradeGothicLT;
    text-transform: uppercase;
    text-align: left;
  }

  .mobile-menu .nav-link {
    color: black; /* Witte tekst */
    font-weight: 700;
  }

  @media (prefers-color-scheme: dark) {
  .mobile-menu .nav-link {
    color: #fff; /* Witte tekst */
  }
}
  
  .mobile-menu .nav-link:hover {
    color: red; /* Highlight kleur */
  }
  
  .mobile-menu-overlay {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .mobile-menu-overlay.show {
    opacity: 1;
  }
  
  /* Klasse om scrollen te voorkomen */
.no-scroll {
    overflow: hidden;
    height: 100%; /* Fixeer de hoogte */
  }
  
  /* Dynamic Transparent Menu */
  .nav-item.dark-mode {
    color: white
  }

  @media (max-width: 991px) {
    .header__search {
        width: 20px;
        height: 20px;
        gap: 1rem;
    }

    .cart {
        width: 20px;
        height: 20px;
    }

    .cart-bubble {
        position: absolute;
        top: 34px;
        transform: translateY(-50%);
        background-color: blue;
        border-radius: 50px;
        color: white;
        padding: 0.5px 5px;
        right: 6px;
    }

    .ml-3 {
        margin-left: 2rem !important;
    }
    }

    .close-menu {
        display: none;
    }

    .close-menu.show {
        border: none;
        display: block;
        color: #000;
        width: 25px;
        height: 25px;
        outline: none;
        background: none;
        padding: 0px;
    }   

@media (prefers-color-scheme: dark) {
    .close-menu.show {
        border: none;
        display: block;
        color: white;
        width: 25px;
        height: 25px;
        outline: none;
        background: none;
    }   
}

.nav-link.active {
    color: red !important;
}

.cart-link:hover {
    text-decoration: none;
    color: red;
}