.index-page {
    position: absolute; /* Header blijft in de normale flow */
    width: 100%;
    background-color: transparent; /* Semi-transparante achtergrond */
    color: white; /* Tekstkleur */
    padding: 20px; /* Ruimte binnen de header */
}

@media only screen and (max-width: 749px) {
    .index-page {
        position: unset;
    }
}

.new-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Drie kolommen met gelijke breedte */
    gap: minmax(20px, 1fr); /* Dynamische gap die groter wordt bij minder ruimte */
    align-items: stretch; /* Zorg ervoor dat content bovenin blijft aligneren */
    justify-content: space-between; /* Verdeelt de ruimte gelijkmatig */
    width: 100%; /* Neemt de volledige breedte van de parent div */
    height: 100%; /* Optioneel: als de hoogte ook 100% moet zijn */
    box-sizing: border-box; /* Zorgt ervoor dat padding niet buiten de container uitsteekt */
} 

.logo {
    display: block !important;
    background-image: var(--logo-light); /* Standaard light logo */
    width: 150px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center; /* Centers the image */
    background-size: contain; /* Ensures the image covers the element */
  }
  
  @media (prefers-color-scheme: dark) {
    .logo {
        background-image: var(--logo-dark);
    }
}

.col-menu {
    padding: 20px 0px;
    text-align: center;
    justify-content: center; /* Horizontaal centreren */
    align-items: center; /* Verticaal centreren */
    display: flex;
    flex: 1; /* Laat kolommen groeien als dat nodig is */
    text-align: center; /* Optioneel, om tekst te centreren */
}

.col-align-left {
    justify-content: left;
}

.col-align-right {
    justify-content: right;
}

.col-menu img {
    max-height: 100%; /* Zorg ervoor dat logo's niet uitrekken */
    object-fit: contain; /* Houd proporties van afbeeldingen */
  }

.navbar-nav .nav-link {
    text-transform: uppercase;
    font-family: TradeGothic LT CondEighteen;
    color: var(--font-color-light-mode);
    font-size: 1.5rem;
}

@media (prefers-color-scheme: dark) {
    .navbar-nav .nav-link {
        color: var(--font-color-dark-mode);
    }
}

.text-second-menu {
    text-align: right !important;
    text-transform: uppercase;
    font-family: TradeGothic LT CondEighteen;
    color: var(--font-color-light-mode);
    font-size: 1.5rem;
}

@media (prefers-color-scheme: dark) {
    .text-second-menu {
        color: var(--font-color-dark-mode);
        gap: 1rem;
    }
}

.cart-link {
    color: var(--font-color-light-mode);
}

@media (prefers-color-scheme: dark) {
    .cart-link {
        color: var(--font-color-dark-mode);
    }
}

.svg-mobile {
    display: none;
}

@media only screen and (max-width: 749px) {
    .svg-mobile {
        display: none;
    }
}

.header__icon-close {
    display: none;
}

.first-menu {
    gap: 3rem;
}

.list-collections-page {
    color: var(--font-color-light-mode)
}

@media (prefers-color-scheme: dark) {
    .list-collections-page {
        color: var(--font-color-dark-mode)
    }
}

.icon-hamburger {
    width: 30px;
    height: auto;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
.icon-hamburger {
    color: white;
}
}
  
  /* Mobile Menu */
#mobile-menu {
    display: none;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #ddd;
  }
  
#mobile-menu.show {
    display: flex;
}
  
  /* Mobile View */
@media (max-width: 768px) {
    .navbar-toggler {
      display: block;
      background: none;
      border: none;
      padding: 0;
    }
  
    .navbar-nav {
      display: none;
    }
  }
  