    .index-page {
        position: absolute; /* Header blijft in de normale flow */
        width: 100%;
        background-color: transparent; /* Semi-transparante achtergrond */
        color: white; /* Tekstkleur */
        padding: 0.5rem 0px; /* Ruimte binnen de header */
    }

    @media only screen and (max-width: 749px) {
        .index-page {
            position: unset;
        }
    }

    .sticky {
    position: -webkit-sticky; /* Voor Safari */
    position: sticky;
    top: 0; /* Plakt aan de bovenkant van het scherm */
    z-index: 1000; /* Zorgt ervoor dat het boven andere elementen blijft */
    background-color: var(--background-color-light-mode);
    }

     .sticky.scroll-up {
    background-color: var(--background-color-light-mode) !important;
    }

    .index-page.scroll-up {
        background-color: var(--background-color-light-mode) !important;
    }

    @media (prefers-color-scheme: dark) {
    .sticky {
        background-color: var(--background-color-dark-mode);
    }

    .sticky.scroll-up {
        background-color: var(--background-color-dark-mode) !important;
    }
    
    .index-page.scroll-up {
        background-color: var(--background-color-dark-mode) !important;
    }
    }

    .new-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Drie kolommen met gelijke breedte */
    gap: minmax(20px, 1fr); /* Dynamische gap die groter wordt bij minder ruimte */
    align-items: stretch; /* Zorg ervoor dat content bovenin blijft aligneren */
    justify-content: space-between; /* Verdeelt de ruimte gelijkmatig */
    width: 100%; /* Neemt de volledige breedte van de parent div */
    height: 100%; /* Optioneel: als de hoogte ook 100% moet zijn */
    box-sizing: border-box; /* Zorgt ervoor dat padding niet buiten de container uitsteekt */
    padding: 0.5rem 0rem;
    } 

    .logo {
    display: block !important;
    background-image: var(--logo-light); /* Standaard light logo */
    width: 150px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center; /* Centers the image */
    background-size: contain; /* Ensures the image covers the element */
    }
    
    @media (prefers-color-scheme: dark) {
        .logo {
            background-image: var(--logo-dark);
        }
    }

    .col-menu {
    text-align: center;
    justify-content: center; /* Horizontaal centreren */
    align-items: center; /* Verticaal centreren */
    display: flex;
    flex: 1; /* Laat kolommen groeien als dat nodig is */
    text-align: center; /* Optioneel, om tekst te centreren */
}

.col-align-left {
    justify-content: left;
}

.col-align-right {
    justify-content: right;
}

.col-menu img {
    max-height: 100%; /* Zorg ervoor dat logo's niet uitrekken */
    object-fit: contain; /* Houd proporties van afbeeldingen */
  }

.navbar-nav .nav-link {
    text-transform: uppercase;
    font-family: TradeGothic LT CondEighteen;
    color: var(--font-color-light-mode);
    font-size: 1.5rem;
}

@media (prefers-color-scheme: dark) {
    .navbar-nav .nav-link {
        color: var(--font-color-dark-mode);
    }
}

.text-second-menu {
    text-align: right !important;
    text-transform: uppercase;
    font-family: TradeGothic LT CondEighteen;
    color: var(--font-color-light-mode);
    font-size: 1.5rem;
}

@media (prefers-color-scheme: dark) {
    .text-second-menu {
        color: var(--font-color-dark-mode);
        gap: 1rem;
    }
}

.cart-link {
    color: var(--font-color-light-mode);
}

@media (prefers-color-scheme: dark) {
    .cart-link {
        color: var(--font-color-dark-mode);
    }
}

.svg-mobile {
    display: none;
}

@media only screen and (max-width: 749px) {
    .svg-mobile {
        display: none;
    }
}

.header__icon-close {
    display: none;
}

.first-menu {
    gap: 3rem;
}

.list-collections-page {
    color: var(--font-color-light-mode)
}

@media (prefers-color-scheme: dark) {
    .list-collections-page {
        color: var(--font-color-dark-mode)
    }
}

/* Hamburger Menu */

.icon-hamburger {
    width: 25px;
    color: black;
}

.icon-cart {
    width: 25px !important;
    color: black !important;
}

.icon-search {
    width: 25px;
    color: black;
}

.icon-cart-empty {
    width: 25px;
    color: black;
}

@media (prefers-color-scheme: dark) {
    .icon-hamburger {
        width: 25px;
        color: white;
    }
      
    .icon-cart {
        color: white;
    }
    
    .icon-search {
        color: white;
    }

    .icon-cart-empty {
        color: white;
    }    
}

.hamburger-menu {
    all: unset;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Mobile menu */
/* Verborgen menu-overlay standaard */
.mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-light-mode); /* Donkere overlay */
    z-index: 9999; /* Zorg dat het menu bovenop alles staat */
    display: none; /* Verborgen standaard */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: column;
    overflow: hidden; /* Zorgt dat niets buiten het menu zichtbaar is */
  }

  @media (prefers-color-scheme: dark) {
  .mobile-menu-overlay {
    background-color: var(--background-color-dark-mode); /* Donkere overlay */
  }
}

  /* Toon de overlay */
  .mobile-menu-overlay.show {
    display: flex;
  }
  
  /* Menu-items stijl */
  .mobile-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    flex-direction: column;
  }
  
  .mobile-menu .nav-item {
    margin: 15px 0;
    font-size: 2rem;
    font-family: TradeGothic LT CondEighteen;
    text-transform: uppercase;
  }
  
  .mobile-menu .nav-link {
    color: black; /* Witte tekst */
  }

  @media (prefers-color-scheme: dark) {
  .mobile-menu .nav-link {
    color: #fff; /* Witte tekst */
  }
}
  
  .mobile-menu .nav-link:hover {
    color: #f4c842; /* Highlight kleur */
  }
  
  /* Sluitknop */
  .close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
  }
  @media (prefers-color-scheme: dark) {
    /* Sluitknop */
    .close-menu {
        color: #fff;
      }
  }
  
  .mobile-menu-overlay {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .mobile-menu-overlay.show {
    opacity: 1;
  }
  
  /* Klasse om scrollen te voorkomen */
.no-scroll {
    overflow: hidden;
    height: 100%; /* Fixeer de hoogte */
  }
  
  