.popular-now-section img {
    object-fit: cover;
}

.popular-now-section .card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.popular-now-section .card:hover {
    transform: translateY(-5px);
}

.card-body {
    padding: 0px;
    padding-top: 1rem;
}

.card-subtitle {
    text-transform: uppercase;
    color: black;
}

.card-subtitle:hover {
    text-decoration: underline;
}

.popular-subtitle {
    font-size: 1.3rem;
}

.inspiration-card {
    background-color: transparent;
}

@media (prefers-color-scheme: dark) {
    .card-subtitle {
        color: white;
    }

    .popular-subtitle {
        color: white;
    }
}

.popular-block {
    display: grid; 
    gap: 1rem; 
    grid-template-columns: repeat(3, 1fr); 
    list-style: none; 
    padding: 0; 
    margin: 0;
}

@media screen and (max-width: 990px) {
.popular-block {
    grid-template-columns: repeat(3, 1fr); 
}

.title-block {
    padding-bottom: 1rem;
}

.popular-block {
    gap: 2rem;
}
}
