.title-related {
    padding-bottom: 5rem;
}

.showreel-related {
    padding-bottom: 5rem;
}

.product__price {
    font-size: 1.5rem;
    color: grey;
    text-decoration: none;
    font-weight: 300;
}

.related-card {
    display: flex;
    flex-direction: column;
    height: unset;
    border: none;
}

.product__vendor {
    text-decoration: none;
    font-size: 1.3rem;
    color: grey;
    text-transform: uppercase;
    font-family: TradeGothic LT CondEighteen;
}

.product__content {
    padding-top: 3rem;
}

.product__vendor:hover a,
.product__price:hover a,
.card__heading:hover a {
    text-decoration: none;
    color: #000;
}

.card__heading__related {
    margin-top: 2rem;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1.8rem;
}