.title-related {
    padding-bottom: 5rem;
}

.showreel-related {
    padding-bottom: 5rem;
}

.product__price {
    font-size: 1.5rem;
    color: grey;
    text-decoration: none;
}

.related-card {
    display: flex;
    flex-direction: column;
    height: unset;
    border: none;
}

.product__vendor {
    text-decoration: none;
    font-size: 1.3rem;
    color: grey;
    text-transform: uppercase;
    font-family: TradeGothic LT CondEighteen;
}