.title-related {
    padding-bottom: 5rem;
}

.showreel-related {
    padding-bottom: 5rem;
}

.product__price {
    font-size: 2rem;
}

.related-card {
    display: flex;
    flex-direction: column;
    height: unset;
    border: none;
}