.title-related {
    padding-bottom: 5rem;
}

.showreel-related {
    padding-bottom: 5rem;
}

.product__price {
    font-size: 1.5rem;
    color: grey;
    text-decoration: none;
    font-weight: 300;
}

.related-card {
    display: flex;
    flex-direction: column;
    height: unset;
    border: none;
}

.product__vendor {
    text-decoration: none;
    font-size: 1.3rem;
    color: grey;
    text-transform: uppercase;
    font-family: TradeGothicLT;
}

.product__content {
    padding-top: 3rem;
}

.product__vendor:hover a,
.product__price:hover a,
.card__heading:hover a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.card__heading__related {
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.8rem;
}

.related-products-margin {
    margin-bottom: 10rem;
}

.related-card--img {
    width: 100%;
}

@media (max-width: 768px) {
    .row {
      flex-wrap: wrap; /* Zorg dat items onder elkaar komen */
    }
    .product {
      flex: 0 0 100%; /* Laat elk item 100% van de breedte gebruiken */
      max-width: 100%; /* Beperkt de maximale breedte tot 100% */
    }
    .product img {
      width: 100%; /* Zorg dat de afbeelding ook volledig schermvullend is */
      height: auto; /* Behoud de aspect ratio */
    }
  }
  