.title-related {
    padding-bottom: 5rem;
}

.showreel-related {
    padding-bottom: 5rem;
}

.product__price {
    font-size: 1.5rem;
    color: grey;
    text-decoration: none;
    font-weight: 300;
}

.related-card {
    display: flex;
    flex-direction: column;
    height: unset;
    border: none;
}

.product__vendor {
    text-decoration: none;
    font-size: 1.3rem;
    color: grey;
    text-transform: uppercase;
    font-family: TradeGothic LT CondEighteen;
}

.product__content {
    padding-top: 3rem;
}

.product__vendor:hover a,
.product__price:hover a,
.card__heading:hover a {
    text-decoration: none;
    color: #000;
}

.card__heading__related {
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.8rem;
}

.scroll-enabled {
    display: flex;
    overflow-x: scroll; /* Zorgt voor horizontaal scrollen */
    scroll-behavior: smooth; /* Soepele scrollervaring */
    gap: 16px; /* Optioneel: ruimte tussen items */
  }
  
  .scroll-enabled::-webkit-scrollbar {
    display: none; /* Verbergt de scrollbar voor Webkit-browsers */
  }
  
  .scroll-enabled {
    -ms-overflow-style: none; /* Verbergt de scrollbar in IE en Edge */
    scrollbar-width: none; /* Verbergt de scrollbar in Firefox */
  }
  
  .scroll-enabled .product {
    flex: 0 0 auto; /* Voorkomt dat items worden gewrapped */
    width: calc(100% / 3); /* Pas de breedte van items naar wens aan */
  }
  
  .scroll-enabled .related-card {
    width: 100%; /* Zorgt ervoor dat de afbeelding het hele product vult */
  }
  