   .product-details-section {
    padding-top: 10rem;
    padding-bottom: 10rem;
   }

   .buy-button {
    padding-top: 5rem;
    padding-bottom: 5rem;
   }
   
   .product-title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .option-title {
        text-transform: uppercase;
        font-family: 'TradeGothic LT CondEighteen';
        font-size: 1.3rem;
    }

    .product-vendor {
        text-transform: uppercase;
        font-family: 'TradeGothic LT CondEighteen';
        font-size: 1.3rem;
    }

    .product-price {
        text-transform: uppercase;
        font-family: 'TradeGothic LT CondEighteen';
        font-size: 1.8rem;
    }
    
    .color-swatches {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
    }
    
    .color-swatch {
        width: 40px;
        height: 40px;
        border: 2px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .color-swatch:hover {
        border-color: #000;
    }
    
    .media-gallery img {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .product-gallery {
        margin-top: 20px;
    }
    
    .secondary-gallery {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
    
    .secondary-gallery .col-6 img {
        max-width: 100%;
        height: auto; /* Houdt de aspectratio */
        object-fit: cover; /* Zorg dat de afbeelding mooi geschaald wordt */
    }      
    
    .buy-button {
        padding: 10px 20px;
        background-color: #000;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }
    
    .buy-button:hover {
        background-color: #333;
    }

    .option-group {
        margin-bottom: 20px;
      }
      
    .option-swatch img.swatch-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .option-swatch.has-image {
        background-color: transparent;
        font-size: 14px;
        display: inline-block;
        margin: 5px;
        border: none;
        overflow: hidden;
        width: 40px;
        height: 40px;
        text-align: center;
        cursor: pointer;
        transition: all .3s ease;
    }

    .option-swatch.has-image.active {
        border: 1px solid black;
    }

    .option-swatch:not(.has-image) {
        background-color: transparent;
        color: black;
        padding: 10px;
        font-size: 14px;
        display: inline-block;
        margin: 5px;
        border: none;
        overflow: hidden;
        width: 40px;
        height: 40px;
        text-align: center;
        cursor: pointer;
        transition: all .3s ease;
    }
      
    .option-swatch:not(.has-image).active {
        background-color: black;
        color: white;
        padding: 10px;
        font-size: 14px;
        display: inline-block;
        margin: 5px;
        border: none;
        overflow: hidden;
        width: 40px;
        height: 40px;
        text-align: center;
        cursor: pointer;
        transition: all .3s ease;
    }
      
      