.about-us h1 {
    margin-bottom: 20px;
}

.dynamic-copy {
    text-align: justify;
    margin-bottom: 15px;
}

.text-about h2 {
    font-weight: 700;
    text-align: left;
}

.text-column-about {
    padding: 0px;
}