   .product-title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .option-title {
        text-transform: uppercase;
    }
    
    .color-swatches {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
    }
    
    .color-swatch {
        width: 40px;
        height: 40px;
        border: 2px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .color-swatch:hover {
        border-color: #000;
    }
    
    .media-gallery img {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .product-gallery {
        margin-top: 20px;
    }
    
    .secondary-gallery {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
    
    .secondary-gallery .col-6 img {
        max-width: 100%;
        height: auto; /* Houdt de aspectratio */
        object-fit: cover; /* Zorg dat de afbeelding mooi geschaald wordt */
    }      
    
    .buy-button {
        padding: 10px 20px;
        background-color: #000;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }
    
    .buy-button:hover {
        background-color: #333;
    }

    .color-swatch.active, .size-swatch.active {
        border: 2px solid #000;
        background-color: #eee;
    }

    .option-group {
        margin-bottom: 20px;
      }
      
    .option-swatch {
        display: inline-block;
        margin: 5px;
        border: none;
        overflow: hidden;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        transition: all .3s ease;
        background: transparent;
    }
      
    .option-swatch img.swatch-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
      
    .option-swatch.active {
        border-color: #000;
        background-color: black;
        color: white;
    }

    .option-swatch.has-image {
        background-color: transparent;
        padding: 5px;
    }

    .option-swatch.has-img.active {
        border: 1px solid black;
    }
      
    .option-swatch:not(.has-image) {
        background-color: transparent;
        padding: 10px;
        font-size: 14px;
    }
      
      