.product-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .color-swatches {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .color-swatch {
    width: 40px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .color-swatch:hover {
    border-color: #000;
  }
  
  .media-gallery img {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .product-gallery {
    margin-top: 20px;
  }
  
  .secondary-gallery {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .secondary-gallery .col-6 img {
    max-width: 100%;
    height: auto; /* Houdt de aspectratio */
    object-fit: cover; /* Zorg dat de afbeelding mooi geschaald wordt */
  }      
  
  .buy-button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .buy-button:hover {
    background-color: #333;
  }

  .color-swatch.active, .size-swatch.active {
    border: 2px solid #000;
    background-color: #eee;
  }