   
  .store-selector {
    padding-top: 15rem;
    padding-top: 15rem;
  }
  
  .store-selector__menu {
    margin-bottom: 30px;
  }
  
  .store-selector__title {
    margin-bottom: 15px;
    font-weight: 700;
  }
  
  .store-selector__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .store-selector__item {
    padding: 12px 0px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-align: left;
    position: relative;
  }
  
  /* Title with '--' decorations */
  .store-selector__title-wrapper {
    position: relative;
    font-size: 1.7rem;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
  }
  
  .store-selector__item:hover .store-selector__title-wrapper::before,
  .store-selector__item:hover .store-selector__title-wrapper::after,
  .store-selector__item.active .store-selector__title-wrapper::before,
  .store-selector__item.active .store-selector__title-wrapper::after {
    content: "⎯";
    margin: 0 5px;
    font-size: 14px;
    color: #000;
  }
  
  .store-selector__title-wrapper::before,
  .store-selector__title-wrapper::after {
    content: ""; /* Default empty */
    margin: 0;
  }
  
  /* Description styling */
  .store-selector {
    padding-bottom: 15rem;
  }

  .store-selector__description {
    color: #888;
    font-size: 1.5rem;
    line-height: 1.4;
    margin-top: 5px;
    display: none;
  }
  
  .store-selector__item:hover .store-selector__description,
  .store-selector__item.active .store-selector__description {
    display: block;
  }
  
  .store-selector__content {
    text-align: center;
  }
  
  .store-selector__image-container {
    margin-bottom: 20px;
  }
  
  .store-selector__image {
    width: auto;
    max-width: 100%;
    object-fit: cover;
  }

  .text-right {
    text-align: right !important;
  }
  
  .no-right-padding {
    padding-right: 0px !important;
  }
  
  @media (max-width: 768px) {
    .no-padding-mobile {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    
    .store-selector__list {
      padding-bottom: 5rem;
    }

    .store-selector {
      padding-bottom: 0rem;
    }

  }