.two-column-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .column {
    position: relative;
    cursor: pointer;
  }
  .column img {
    width: 100%;
  }
  .badge {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #faf7f3;
    color: black;
    padding: 19px;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  .product-cards {
    display: none;
    margin-top: 20px;
  }
  .product-card {
    margin-bottom: 20px;
  }