.two-column-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.two-column-section .column {
  position: relative;
  width: 100%; /* Zorg ervoor dat de breedte 100% is van de container */
  padding-top: 90%; /* Verhouding van 16:9 (9 / 16 = 0.5625 * 100 = 56.25%) */
  background-size: cover;
  background-position: center;
}

.two-column-section .content {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  color: #fff;
  background: #faf7f3;
  padding: 1rem;
}

.column .content p {
  color: black;
}

.product-block {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.two-column-section .column:hover .product-block {
  opacity: 1;
}

.product-item {
  background-color: rgb(250, 247, 243, 0.9);
  margin: 5px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item img {
  max-width: 60px;
  height: auto;
}

.product-info p {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: TradeGothicLT;
  color: black;
  vertical-align: middle;
  margin: 0px;
}

.product-link {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
}

.product-info .product-price {
  font-weight: 600;
}

@media (max-width: 992px) {
  .two-column-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .two-column-section .content {
    padding: 0.5em;
  }

  .column .content p {
    display: none;
  }

  .product-block {
    opacity: 1;
  }

  .product-item img {
    max-width: 30px;
    height: auto;
  }
}