.two-columns-overlay .grid {
    display: flex;
    gap: 20px;
  }
  
  .image-overlay-block {
    position: relative;
  }
  
  .image-overlay-block__image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    position: relative;
  }
  
  .image-overlay-block__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
  }
  
  .image-overlay-block__title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #444;
  }