.two-columns-overlay .grid {
    display: flex;
    gap: 0px;
  }
  
  .image-overlay-block {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* Forces the block to be square */
  }

  .image-overlay-list {
    display: grid; 
    gap: 1rem; 
    grid-template-columns: repeat(2, 1fr); 
    list-style: none; 
    padding: 0; 
    margin: 0;
  }
  

@media (min-width: 1200px) {

  .image-overlay-block:nth-child(1) .image-overlay-block__title {
    padding-left: 17.5rem; /* Pas de waarde aan naar jouw voorkeur */
  }
  
  .image-overlay-block:nth-child(2) .image-overlay-block__title {
    padding-right: 17.5rem; /* Pas de waarde aan naar jouw voorkeur */
  }

}
  
  .image-overlay-block__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover; /* Ensures the image fits perfectly */
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }

  .image-overlay-block__image:hover {
    transform: scale(1.1);
  }
  
  .image-overlay-block__content {
    position: absolute;
    bottom: 0; /* Perfectly aligned with the bottom edge */
    left: 0; /* Perfectly aligned with the left edge */
    text-align: left;
    color: #ffffff;
    padding: 0px; /* Optional: Adds padding for better readability of the text */
  }
  
  .image-overlay-block__title {
    font-size: 14.5em;
    font-weight: 800;
    margin: 0;
    line-height: 0.7;
    font-family:'TradeGothicLT' !important;
  }

  @media (prefers-color-scheme: light) {
    .image-overlay-block__title {
      color: white !important;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    .image-overlay-block__title {
      color: #202020 !important;
    }
  }

  .button {
    border: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    border-color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #444;
  }

  .col-md-6-no-padding {
    padding: 0px !important;
  }
  
  @media (max-width: 768px) {
    .two-columns-overlay .grid {
      display: block; /* Stack the items vertically */
    }
  
    .two-columns-overlay .grid__item {
      width: 100%; /* Make each item take full width */
    }
  
    .image-overlay-block {
      width: 100%; /* Ensure the block also takes full width */
    }
  
    .image-overlay-block__title {
      font-size: 9.5em; /* Adjust font size for mobile */
    }
  
    .button {
      font-size: 0.9em; /* Make the button text slightly smaller for mobile */
      padding: 8px 16px; /* Adjust padding for a more compact button */
    }
  }
  
/* Styling voor de h3 in de subtitle */
.image-overlay-block__subtitle {
  font-size: 1.5rem; /* Pas aan naar wens */
  font-weight: bold; /* Zorg voor duidelijke titel */
  color: #333; /* Kies een passende kleur */
  margin: 0 0 10px; /* Ruimte onder de titel */
  text-transform: uppercase; /* Optioneel, hoofdletters */
  text-align: left; /* Pas uitlijning aan naar wens */
  padding-top: 15px;
}

/* Styling voor de link */
.underline {
  font-size: 1rem; /* Pas aan naar wens */
  font-weight: normal; /* Normale tekstgewicht */
  color: black; /* Linkkleur */
  text-decoration: underline; /* Geen standaard onderstreping */
  transition: color 0.3s ease; /* Smooth hover-effect */
  font-family: TradeGothicLT;
  text-transform: uppercase; /* Optioneel, hoofdletters */
  padding-top: 15px;
}

/* Hover-effect voor de link */
.underline:hover {
  color: red; /* Donkerdere kleur bij hover */
  text-decoration: underline; /* Onderstreping bij hover */
}

@media (prefers-color-scheme: dark) {
  .underline {
    color: white; /* Donkerdere kleur bij hover */
  }
}

@media screen and (max-width: 991px) {
.image-overlay-list {
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
}